<section class="container mt-5">
	<h1>About Us</h1>

	<div class="row">
		<div class="col-xs-12 col-md-8 col-lg-8">
        <p>Choosing a university is a crucial element in the study choices made by millions of students across the globe. Complete University info is the one-stop destination to find the information of universities all over the world. The university information is spread across all over, we have merged them together to help students find the right university of their choice.</p>

<p><em>We are here to help you achieve your dream.</em></p>

<p>We are here to empower the student community to choose education by making study choice transparent. We strive to furnish the latest data of a university to aspiring students to achieve their professional success. </p>

<p>Our goal is to help the students to find the right university and world’s universities to achieve excellence. We believe that education is too important to leave to chance, so we want to ensure students have access to the best tools and the best expert information before making a decision.</p>

<p>Our vision is to make sure the students who are applying for the universities are seamless. We are going to bring a change in how students apply for universities abroad. What we envision is a hassle-free application for students to apply and enroll in the universities of their choice without the need of consultants.</p>

		</div>
	</div>
</section>