<section class="container pt-5 about-us">
	<div class="padding bg-white bs">
		<div class="row">

			<div class="col-xs-12 col-md-5 col-lg-8">

				<h1 class="text-uppercase">About Us</h1>
				<p>Choosing a university is a crucial element in the study choices made by millions of students across the globe. Complete
					University info is the one-stop destination to find the information of universities.
				</p>
				{{!-- The university information is spread across all over, we have merged them together to help students to find the right
				university of their choice. --}}
				<div class="media-cont">
					<img src="/images/graduate.jpg" class="img-fluid" alt="Student browsing" />
				</div>

				<p>We strive to furnish the latest data of a university to aspiring students to achieve their professional success.
				</p>

				<blockquote class="blockquote text-center">
					<em>Our goal is to help the students to find the right university and worlds universities to achieve excellence. We are
						here to help you achieve your dream and empower the student community to choose education by making study choice transparent.
					</em>
				</blockquote>

				<div class="media-cont">
					<img src="/images/browsing.jpg" class="img-fluid" alt="Student browsing" />
				</div>

				<p> We believe that education is too important to leave to chance, so we want to ensure students have access to the best
					tools and the best expert information before making a decision.</p>

				<blockquote class="blockquote text-center">
					Our vision is to make sure the students who are applying to the universities are seamless. 
					We are going to bring in a change in how students apply to universities abroad. 
					What we envision is a hassle-free application process to students to apply and enroll in the universities of their choice.
				</blockquote>

			</div>
		</div>
	</div>
</section>