<section class="container pt-5 about-us">
  <div class="padding bg-white bs">

    {{!-- https://john.do/privacy/ https://allbloggingtips.com/privacy/ https://www.collegify.com/index.php#!/privacy--}}

    <h1 class="text-uppercase">Privacy Policy</h1>


    <h5>Introduction</h5>
    <p> At
      <mark>www.completeuniversityinfo.com</mark> the privacy of our visitors is extremely important. This Privacy Policy is designed
      to tell you about our practices regarding collection, use, and disclosure of information that you may provide for using
      our services via this Website. Please be sure to read this entire Privacy Policy before using or submitting information
      to this Website. By using this Website, you agree to the terms of this Privacy Policy.
    </p>
    <p>This Privacy Policy is reviewed and revised from time to time. You will want to revisit it regularly. Your use of this
      site, in any and all forms, constitutes an acceptance of this Privacy Policy.
    </p>


    <h5>Collection and Use of Personal Information</h5>
    <p>You may be asked to provide your personal information when you use our Website. You agree to provide information, which
      shall be true, correct and accurate, based on your knowledge. You may amend, alter or require deletion of certain details
      of your information by contacting the Website at the contact details provided below.</p>

    <p>This Website is intended for use by all persons of all ages. However, when collecting personal information from any person
      who is under 18 years, we require the consent from an adult, preferably minor's parent or guardian.</p>


    <h5>We collect</h5>
    <p>When you submit information upon registration, we may collect a variety of information, including your name, password,
      mailing address, phone number, email address and contact preferences, including any other usage and interaction details
      with us. You may be required to update your information from time to time for which you shall be sent notifications.</p>


    <h5>How we use your personal information</h5>
    <ul>
      <li>We use personal information to keep you posted on announcements on offers and upcoming events.</li>
      <li>We also use personal information to help us develop, deliver, and improve our Services and to personalize and improve
        your experience.</li>
      <li>We shall use your personal information for studying customer trends and preferences.</li>
      <li>From time to time, we may use your personal information to send important notices, such as communications and changes
        to our terms, conditions and policies.</li>
      <li>We may also use personal information for internal purposes such as auditing, data analysis and research to improve
        our Services and customer communications.</li>
    </ul>


    <h5>Collection and Use of Non-Personal Information</h5>
    <p>We also collect non-personal information (data in a form that does not permit direct association with any specific individual).
      We may collect, use, transfer and disclose non-personal information for any purpose.</p>
    <p>Given below are some examples of non-personal information that we collect and how we may use it:</p>
    <ul>
      <li>We may collect information such as industry, language, pin code, area code, unique device identifier, location and
        the time zone where the Services are used so that we can better understand customer behavior and improve our Services.</li>
      <li>We also may collect information regarding customer activities on our Website and from our affiliate businesses. This
        information may be aggregated and used to help us provide more useful information to our customers and to understand
        which parts of our Website and Services are of most interest. Such aggregated data shall be considered as non-personal
        information for the purposes of this Privacy Policy.</li>
    </ul>
    <p>In the event we combine any non-personal information along with any personal information, the combined information will
      be treated as personal information for as long as it remains combined.</p>


    <h5>Cookies and Other Technologies</h5>
    <p>A cookie is a small piece of information that a website can send to your browser which may then be stored on your computer's
      hard drive. It acts as an anonymous tag that identifies your computer, but not you personally. Cookies have the ability
      to store information about web pages viewed and the advertisements viewed or clicked.</p>

    <p>Our Website, online Services, email messages and advertisements may use "cookies" and other technologies such as pixel
      tags. These technologies help us better understand user behavior, tells us which parts of our Website users have visited
      and facilitates and measures the effectiveness of advertisements and web searches. For registered customers, cookies
      can also save user information and screen preferences. We treat information collected by cookies and other technologies
      as non-personal information. However, to the extent that Internet Protocol (IP) addresses or similar identifiers are
      considered personal information by law, we also treat these identifiers as personal information.
    </p>
    <p>
      We use cookies and other technologies to remember personal information when you use our Website, online services and applications.
      Our goal, in these cases, is to make your experience with us more convenient and personal. We gather some information
      automatically and store it in log files. This information includes Internet Protocol (IP) addresses, browser type and
      language, internet service provider (ISP), referring and exit pages, operating system, date/time stamp and click-stream
      data. We use this information to understand and analyze trends, to administer the Website, to learn about user behavior
      on the Website and to gather demographic information about our user base as a whole. We and our affiliates may use
      this information in marketing and advertising services as well. </p>
      <p>Pixel tags, also known as a clear GIF or web beacon,
      are invisible tags placed on certain pages of our website but not on your computer. When you access these pages, pixel
      tags generate a generic notice of that visit. They usually work in conjunction with cookies, registering when a particular
      computer visits a particular page. If you turn off cookies, the pixel tag will simply detect an anonymous website visit.
      Pixel tags enables us to send email messages in such a format that customer can read and they tell us whether the email
      has been opened by the customer. We may use this information to reduce or eliminate messages sent to customers.
    </p>
    <p>If you want to disable cookies you can modify your settings on your browser in order to reject automatic acceptance of
      cookie. You can check with your provider to find out how to disable cookies. However, certain features of the Website
      may not be available once cookies are disabled.</p>


    <h5>Disclosure to Third Parties</h5>
    <p>We may provide certain personal information to strategic partners such as an email service provider to send out emails
      on our behalf. Personal information will only be shared to provide or improve our Services and advertising, however,
      it will not be shared with third parties for their marketing purposes. You shall be contacted for a confirmation on
      any of your contact information being shared with a third party and if you wish not to share any such information with
      the third party, We shall respect such request.</p>


    <h5>Security</h5>
    <p>The security of your personal information is important to us. We take precautions, including administrative, technical
      and physical measures, to safeguard your personal information against loss, theft and misuse, as well as against unauthorized
      access, disclosure, alteration and destruction. When you enter sensitive information on our registration or order forms,
      we encrypt that information using secure socket layer technology (SSL).</p>

    <p>This Website has various electronic, procedural and physical security measures in place to protect the loss, misuse and
      alteration of information, or any accidental loss, destruction or damage to data. When you submit your information
      via the Website, your information is protected through our security systems. There may be instances where We requires
      proof of identity before disclosing any of your information to you. You agree to be responsible to protect the security
      of your username and password and other registration details, if any.</p>

    <p>Our website may contain links to other websites of interest. However, once you have used these links to leave our site,
      you should note that we do not have any control over that other website. Therefore, we cannot be responsible for the
      Protection and Privacy of any information, which you provide whilst visiting such sites and this Privacy Statement
      does not govern such sites. You should exercise caution and look at the privacy statement applicable to the website
      in question. </p>


    <h5>Integrity and Retention of Data</h5>
    <p>We makes it easy for you to keep your personal information accurate, complete and up to date. We will retain your personal
      information and any data for the period necessary to fulfill the purposes outlined in this Privacy Policy unless a
      longer retention period is required.</p>


    <h5>Contact for any query</h5>
    <p>In case, you have any questions about this Privacy Policy, our Services, or this Website, or your dealings with this
      Website, please
      <a href="/contact/">contact us</a>.</p>

    <p class="text-right">
      <small>Last Updated: 08 June, 2018</small>
    </p>


  </div>
</section>