<h1>Study destination</h1>

<div>
  image
</div>
<div>
  <h2>About destination</h2>
  {{{ data.about }}}
</div>

<div>
  <h2>Education system</h2>
</div>

<div>
  <h2>Study Options</h2>
</div>

<div>
  <h2>Cost of study &amp; living</h2>
</div>

<div>
  <h2>Visa Requirements</h2>
</div>

<div>
  <h2>Available Scholarships</h2>
</div>

<div>
  <h2>fast facts</h2>
</div>