<div class="col-sm-4 col-md-3">
	<h2>Categories</h2>
	<div style="margin-top: 70px;" class="list-group">
		<a href="/blog" class="active list-group-item">All Categories</a> 
		{{# each data.categories }}
		<a href="{{categoryCountryUrl key}}" class="false list-group-item">{{name}}</a> 
		{{/each}}
	</div>
</div>