/********** contact us, About us**************/
.about-us{
  p{
    margin-bottom: 30px;
  }
}

.contact-info{
  margin-top:40px;
  background-color:#f8f9fa;
  padding:20px;
}
@media (min-width: 768px) {
  .contact-info{
    margin-top:0;
  }
}