/** individual article*/

.blog-post {
    .banner {
        display: none;
    }
    header h1{
        margin-top:2rem;
    }
   
}

.post-content {
    line-height: 2;
    font-size: 1.2rem;
}

.fb-comments,
.fb-comments iframe[style],
.fb-comments span {
    width: 100%!important;
}

@media (min-width: 768px) {
    /** individual article*/
    .blog-post {
        header {
            h1 {
                font-size: 3rem;
                font-weight: 700;
                padding-top:2rem;
            }
        }
        
        .banner {
            display: block;
            min-height: 300px;
        }
        
    }
    .post-content{
        padding: 0 1.5rem;
    }
}