/** individual article*/

.blog-post {
    .banner {
        display: none;
    }
    .w-large {
        padding-top: 2.5rem;
    }
}

.post-content {
    line-height: 2;
    font-size: 1.2rem;
}

.fb-comments,
.fb-comments iframe[style],
.fb-comments span {
    width: 100%!important;
}

@media (min-width: 768px) {
    /** individual article*/
    .blog-post {
        header {
            h1 {
                font-size: 3rem;
                font-weight: 700;
            }
        }
        .banner {
            display: block;
            min-height: 300px;
        }
        .w-large {
            padding: 3rem;
        }
    }
}