.study-dest {
    h1,
    h2,
    h3 {
        text-transform: uppercase;
        font-weight: bold;
    }
    p,ul {
        margin-bottom: 2rem;
    }
}

// .study-dest 


// @media (min-width: 768px) {
    
// }