/******* Universities,  (search) **********/

.search-banner {
    position: relative;
    background-color: $cui-color;
}

.search-filter {
    background-color: $cui-light;
}

.uni-results {
    padding: 40px 0; // background-color: #eeede9;
}

#universities {
    h3 {
        font-size: 1.25rem;
    }
    .wrapper {
        margin: 0 0 40px;
        border: 1px solid $cui-light;
        padding: 1.5rem;
        background-color: $white;
        box-shadow: 0 0px 10px 0 rgba(160, 152, 120, 0.1);
    }
    .logo {
        width: 100px;
        height: 100px;
        border: 1px solid $cui-light;
        margin-bottom: 1rem;
        overflow: hidden;
    }
    address {
        color: $cui-light-grey;
        margin-top: 5px;
    }
    .feature {
        color: $cui-mdm-grey;
    }
    .rankings {
        strong {
            display: inline-block;
            margin-bottom: 5px;
            color: $cui-color;
        }
    }
    .fa {
        margin-right: 15px;
    }
    /*universities page */
    .list {
        padding: 1rem 0;
        margin:0 0 20px;
        .logo {
            width: auto;
            height: auto;
            margin:0;
        }
        hr {
            margin: 1rem 0;
        }
    }
}

.x-results {
    padding: 2rem 0 0;
    h4 {
        font-size: 1rem;
    }
}

.filter {
    margin-bottom: 1rem;
    .item {
        margin-bottom: 20px;
    }
}

@media (min-width: 768px) {
    /*************** Universities (search) **************/
    .uni-results {
        padding: 60px 0;
    }
    #universities {
        .wrapper {
            margin: 0 10px 60px;
        }
        .list {
            margin: 0 0 20px;
            h3 {
                font-size: 1.5rem;
            }
        }
    }
    .filter {
        padding: 1rem;
        .item {
            margin-bottom: 40px;
        }
    }
    .x-results {
        padding: 3rem 0 0;
    }
}