<ul class="pagination">
	<li {{#unless data.courses.previous}}class="disabled"{{/unless}}>
		<a rel="prev" href="{{paginationPreviousUrl data.courses.previous}}">
			<span class="glyphicon glyphicon-chevron-left"></span>
		</a>
	</li>

	{{{paginationNavigation baseUrl data.courses.pages data.courses.currentPage data.courses.totalPages data.source null }}}

	<li {{#unless data.courses.next}}class="disabled"{{/unless}}>
		<a rel="next" href="{{paginationNextUrl data.courses.next data.courses.totalPages}}">
			<span class="glyphicon glyphicon-chevron-right"></span>
		</a>
	</li>
</ul>
