<ul class="pagination">
	<li {{#unless data.universitiesdestination.previous}}class="disabled"{{/unless}}>
		<a href="{{paginationPreviousUrl data.universitiesdestination.previous}}">
			<span class="glyphicon glyphicon-chevron-left"></span>
		</a>
	</li>

	{{{paginationNavigation data.universitiesdestination.pages data.universitiesdestination.currentPage data.universitiesdestination.totalPages data.source data.region data.country data.state data.city }}}

	<li {{#unless data.universitiesdestination.next}}class="disabled"{{/unless}}>
		<a href="{{paginationNextUrl data.universitiesdestination.next data.universitiesdestination.totalPages}}">
			<span class="glyphicon glyphicon-chevron-right"></span>
		</a>
	</li>
</ul>
