/************* Bootstrap reset *************/

.pagination {
    flex-wrap: wrap;
}


/*** header ***/

header {
    >.container {
        padding-top: 15px;
        padding-bottom: 15px;
        text-align: center;
    }
}


/** top navigation **/

.navbar {
    background-color: $cui-dark-grey;
    padding-left: 25px;
    padding-right: 25px;
}

.nav-link {
    padding: 1rem 0 .5rem;
}

.navbar-dark .navbar-nav .nav-link {
    color: $white;
    &.active {
        color: $cui-color;
    }
}

#menu{
    .nav-link{ padding:1rem .75rem;}
    .dropdown-item{
        padding:.5rem 1rem;
    }
}
/*** footer ***/

footer {
    background-color: $cui-dark-grey;
    padding: 40px 0;
    color: $cui-light-grey; // span {
    a {
        margin: 0 1rem;
        color: $cui-light-grey;
        &:hover,
        &:focus {
            color: lighten($cui-light-grey, 10%);
            text-decoration: none;
        }
    }
    h6 {
        margin-bottom: 1rem;
    }
}

.social-links {
    margin: 1rem 0;
    font-size: 1.4rem;
    h5 {
        margin-bottom: .5rem;
    }
}


.navbar.navbar-fixed-top.fixed-theme {
    background-color: #222;
    border-color: #080808;
    box-shadow: 0 0 5px rgba(0,0,0,.8);
}

.navbar-brand.fixed-theme {
    font-size: 18px;
}

.navbar-container.fixed-theme {
    padding: 0;
}

.navbar-brand.fixed-theme,
.navbar-container.fixed-theme,
.navbar.navbar-fixed-top.fixed-theme,
.navbar-brand,
.navbar-container{
    transition: 0.8s;
    -webkit-transition:  0.8s;
}

// /**** Share ****/
.share{
    a{
        color:$white;
        display: inline-block;
        margin:0 1rem;
        width:2.5rem;
        height:2.5rem;
        line-height:2.5rem;
        font-size:1.2rem;
    }
}
.fb{
    background-color:#3B5998;
}
.twitter{
    background-color:#1DA1F2;
}
.email{
    background-color:$anchor;
}
// .g-plus{
//     background-color:#DB4437;
// }
// .pinterest{
//     background-color:#BD081C;
// }
// .instagram{
//     background-color:#262626;
// }
// .linked-in{
//     background-color:#0077B5
// }
.w-app{
    background-color:#075e54;
}
/********8 ***********/

.bg-cui {
    background-color: $cui-color;
}

.mb-sm {
    margin-bottom: 3rem;
}

.height-5 {
    min-height: 300px;
}

// @media (min-width: 576px) {}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    header>.container {
        text-align: left;
    }
    .navbar {
        padding: 0 1rem;
    }
    .nav-link {
        padding: 1rem 2rem;
    }
    .navbar-dark .navbar-nav .nav-link {
        &:hover,
        &:focus {
            color: $cui-color;
        }
        &.active {
            border-top: 2px solid $cui-color;
        }
    }
    footer {
        padding: 60px 0;
        p {
            float: left;
        }
    }
    .social {
        top: 50%;
        margin-top: -120px;
        bottom: auto;
        ul {
            -webkit-transform: translate(-260px, 0);
            -moz-transform: translate(-260px, 0);
            -ms-transform: translate(-260px, 0);
            -o-transform: translate(-260px, 0);
            transform: translate(-260px, 0);
            li {
                padding: 10px;
                i {
                    padding: 10px;
                    width: 40px;
                    height: 40px;
                    font-size: 1.25rem;
                }
            }
        }
    }
    .ft-links,
    .social-links {
        display: inline-block;
    }
    .social-links {
        margin: 0;
    }
    /**/
    .mb-sm {
        margin-bottom: 0;
    }
    .height-5 {
        min-height: 500px;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding: 1rem 2rem;
    }
}

// Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) {}