
/************* Bootstrap reset *************/
.pagination{
    flex-wrap: wrap;
}

/*** header ***/
header {
    >.container {
        padding-top: 15px;
        padding-bottom: 15px;
        text-align: center;
    }
}


/** top navigation **/

.navbar {
    background-color: $cui-dark-grey;
    padding-left: 25px;
    padding-right: 25px;
}

.navbar-dark .navbar-nav .nav-link {
    color: $white;
    &.active {
        color: $cui-color;
    }
}


/*** footer ***/

footer {
    background-color: $cui-dark-grey;
    padding: 40px 0;
    color: $cui-light-grey;
    span {
        display: block;
        text-align: center;
    }
    a {
        margin: 0 1rem;
        color: $cui-mdm-grey;
        &:hover,
        &:focus {
            color: lighten($cui-light-grey, 10%);
            text-decoration: none;
        }
    }
}

.social-links {
    margin: 1rem 0;
    font-size: 1.4rem;
}

.share-social {
    cursor: pointer;
    .dropdown-toggle {
        margin: 0 auto;
        border: 1px solid;
        width: 2rem;
        height: 2rem;
        line-height: 2rem;
        &::after {
            display: none;
        }
    }
    .dropdown-menu {
        font-size: 20px;
    }
}


/***** home page****/

.page-home {
    h3 {
        font-size: 1.5rem;
    }
}

.banner {
    padding: 40px 0;
    background-color: $cui-light;
    background-image: url(/images/banner.jpg);
    p {
        font-size: 1.5rem;
    }
}

.search-form {
    position: relative;
    label {
        display: block;
        margin: 0;
    }
    .form-control {
        &:focus {
            box-shadow: 0 10px 40px 0 rgba(0, 0, 0, .1);
        }
    }
    .btn {
        width: 100%;
    }
    &.inner {
        .form-control {
            padding-right: 55px;
            &:focus {
                box-shadow: none;
            }
        }
        .btn {
            height: 34px;
            position: absolute;
            right: 2px;
            top: 2px;
            line-height: 0;
            width: auto;
        }
    }
}

.study-locations {
    .wrap {
        margin-top: 1rem;
        background-color: $cui-light;
    }
    .thumbnail {
        min-height: 250px;
        margin-bottom: 1rem;
    }
    .copy {
        padding: 1rem;
    }
}

.articles,
.levels {
    padding: 2.5rem 0 .5rem;
}

.articles {
    article {
        color: initial;
        background-color: $white;
        padding: 20px;
        border-bottom: 5px solid $cui-light-grey;
        margin-bottom: 2rem;
    }
}

.levels {
    background-color: $cui-light;
    .col-md-6 {
        margin-bottom: 2rem;
    }
}

.test-block {
    border: 1px solid $cui-light;
    padding: 1rem;
    margin-bottom: 1.5rem;
}


/******* Universities (search) **********/

.search-banner {
    position: relative;
    background-color: $cui-color;
}

.search-filter {
    background-color: $cui-light;
}

.uni-results {
    padding: 40px 0;
    background-color: #eeede9;
}

#universities {
    h3 {
        font-size: 1.25rem;
    }
    .wrapper {
        margin: 0 0 40px;
        border: 1px solid $cui-light;
        padding: 1.5rem;
        background-color: $white;
        box-shadow: 0 0px 10px 0 rgba(160, 152, 120, 0.1);
    }
    .logo {
        width: 100px;
        height: 100px;
        border: 1px solid $cui-light;
        margin-bottom: 1rem;
        overflow: hidden;
    }
    address {
        color: $cui-light-grey;
        margin-top: 5px;
    }
    .feature {
        color: $cui-mdm-grey;
    }
    .rankings {
        strong {
            display: inline-block;
            margin-bottom: 5px;
            color: $cui-color;
        }
    }
    .fa {
        margin-right: 15px;
    }
}

.blog {
    .wrap {
        border-bottom: 5px solid;
        margin: 0 0 2.5rem;
    }
    .post {
        margin-bottom: 40px;
    }
    .thumbnail {
        margin-bottom: 1rem;
    }
    h3 {
        font-size: 1.5rem;
    }
}

.categories {
    margin-bottom: 40px;
    a {
        margin-bottom: .5rem;
    }
}


/** individual article*/

.blog-post {
    .banner {
        display: none;
    }
    .w-large {
        padding-top: 2.5rem;
    }
    div,
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    img {
        margin-bottom: 30px;
    }
    img {
        display: block;
        margin: 0 auto;
    }
}

.post-content {
    line-height: 1.8;
    font-size: 1.2rem;
}
.uni-profile{
    
}

/********* university  page**********/
.uni-logo{
    background:#fff;
}

@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    section {
        margin-bottom: 4rem;
    }
    header>.container {
        text-align: left;
    }
    .navbar {
        padding: 0 1rem;
    }
    .nav-link {
        padding: 1rem 2rem;
    }
    .navbar-dark .navbar-nav .nav-link {
        &:hover,
        &:focus {
            color: $cui-color;
        }
        &.active {
            border-top: 2px solid $cui-color;
        }
    }
    footer {
        padding: 60px 0;
        p {
            float: left;
        }
    }
    .ft-links,
    .social-links {
        display: inline-block;
    }
    .social-links {
        margin: 0;
    }
    .share-social {
        margin-top: 2rem;
        .dropdown-toggle {
            margin: 0;
        }
    }
    /*** Home page *********/
    .banner {
        min-height: 550px;
        padding: 80px 0;
        h1 {
            margin-top: 60px;
        }
        .btn {
            width:auto;
            position: absolute;
            right: 2px;
            top: 2px;
            height: 44px;
            line-height: 0;
        }
        .form-control {
            padding-right: 230px;
        }
    }
    .study-locations {
        .wrap {
            margin-top: 2rem;
            .col-md-5 {
                padding-right: 0;
            }
        }
        .thumbnail {
            margin-bottom: 0;
        }
    }
    .articles,
    .levels {
        padding: 4rem 0 2.5rem;
    }
    /*************** Universities (search) **************/
    .uni-results {
        padding: 60px 0;
    }
    .cover-50 {
        background-image: url(/images/search-banner.jpg);
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 50%;
    }
    #universities {
        .wrapper {
            margin: 0 10px 60px;
        }
    }
    /************ Blog ****************/
    .blog {
        .wrap {
            margin: 0 2rem 2.5rem 0;
        }
    }
    .post {
        line-height: 1.8;
    }
    .categories {
        margin-bottom: 60px;
    }
    /** individual article*/
    .blog-post {
        header {
            h1 {
                font-size: 3rem;
                font-weight: 700;
            }
        }
        .banner {
            display: block;
            min-height: 300px;
        }
        .w-large {
            background-color: $white;
            padding: 3rem;
            margin-top: -200px;
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding: 1rem 2rem;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}