// Override Bootstrap variables in this file, e.g.
/***
#F2C100
#FB493A
#1C0203
#E08955
**/

$font-size-base: 1rem;
$cui-color:#f4bb3a;
$cui-light: #f5f5f5;
$cui-light-grey: #999999;
$cui-mdm-grey: #777777;
$cui-dark-grey: #2f3135;
$anchor:#FB493A;


