body {
    font-size: $font-size-base;
    color: $black;
}

* {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

section {
    margin-bottom: 2.5rem;
}

a {
    color: $anchor;
    &:hover,
    &:focus {
        color: lighten($anchor, 30%);
    }
}

.avg-m-top {
    margin-top: 40px;
}

.form-control {
    &:focus {
        border-color: $cui-color;
    }
}

.container,
.mid-column {
    padding-left: 25px;
    padding-right: 25px;
}

.mid-column {
    max-width: 740px;
    margin: 0 auto;
}

.dark-bg {
    background-color: $cui-dark-grey;
    color: #fff;
    // a {
    //     color: $cui-color;
    //     &:hover,
    //     &:focus {
    //         color: $white;
    //     }
    // }
}
.no-style{
    margin: 0;
    padding: 0;
    list-style: none;
}

@media(min-width:768px) {
    .container,
    .mid-column {
        padding-right: 15px;
        padding-left: 15px;
    }
    .avg-m-top {
        margin-top: 60px;
    }
}