header{
	> .container{
		padding-top:15px; padding-bottom:15px;
	}
}

.navbar {
	background-color: $cui-dark-grey;
	a {
			color: $white;
			&:hover,
			&:focus {
					color: $cui-color;
			}
	}
}

footer {
	background-color: $cui-dark-grey;
	padding: 40px 0;
	color: $cui-light-grey;
	span{
		display: block;
		margin:0 5px;
		text-align:center;
	}
	a {
			margin-left: 20px;
			color:$cui-mdm-grey;
			&:hover,
			&:focus {
					color: darken($cui-light-grey, 10%);
			}
	}
}


/***** home page****/
.banner{
	padding:80px 0;
	background-color: $cui-bg-light;
	background-image:url(/images/banner.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	input[type=text]:focus{
		background-color: #fff;
    box-shadow: 0 10px 40px 0 rgba(0,0,0,.1);
	}
}


@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    section {
        margin-bottom: 4rem;
    }
    footer {
        padding: 60px 0;
		}
		.banner{
			min-height:550px;
		}
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}